<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <h1 class="navbar-brand">Angular Blog</h1>
      <div class="btn-wrapper">
        <button
          *ngIf="singInStatus"
          data-bs-toggle="modal"
          data-bs-target="#modalAddPost"
          type="button"
          class="btn btn-outline-success mx-1"
        >
          Add post
        </button>
        <button
          type="button"
          *ngIf="!singInStatus"
          class="btn btn-outline-success mx-1"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Sing In
        </button>
        <button class="btn btn-warning mx-1" *ngIf="mainUserName" [disabled]>
          {{ mainUserName }}
        </button>

        <button
          *ngIf="!singInStatus"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="singUp()"
          type="button"
          class="btn btn-outline-primary"
        >
          Sing Up
        </button>
        <button
          (click)="singOut()"
          *ngIf="singInStatus"
          type="button"
          class="btn btn-outline-warning mx-1"
        >
          Sing Out
        </button>
      </div>
    </div>
  </nav>
</header>

<div class="container mt-3">
  <div *ngFor="let post of posts" class="card mb-2">
    <div class="card-header">
      <h4>{{ post.title }}</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Posted by:{{ post.postedBy }}</h5>
      <div class="d-flex align-items-center justify-content-end">
        <img
          class="mx-3 my-auto"
          src="https://cdn-icons-png.flaticon.com/512/109/109613.png"
          width="17px"
          height="17px"
        />
        <div>
          <h6 class="card-title mt-1">
            {{ post.date | date : "HH:mm, dd.MM.yyyy" }}
          </h6>
        </div>
      </div>

      <p class="card-text">{{ post.message }}</p>

      <div class="d-flex justify-content-end">
        <button
          (click)="editPost(post)"
          *ngIf="mainUserName == post.postedBy || mainUserName == 'admin'"
          class="btn btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#modalAddPost"
        >
          Edit
        </button>
        <button
          (click)="deletePost(post)"
          *ngIf="mainUserName == post.postedBy || mainUserName == 'admin'"
          class="btn btn-danger mx-1"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal sing in -->

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Sing In</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email:</label>
            <input
              name="email"
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              [(ngModel)]="email"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password:</label
            >
            <input
              name="pass"
              type="password"
              class="form-control"
              id="pass"
              [(ngModel)]="password"
            />
          </div>

          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-secondary mx-1"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Close
            </button>
            <button
              (click)="singIn()"
              type="button"
              class="btn btn-success mx-1"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal add post -->
<div
  class="modal fade"
  id="modalAddPost"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Added Post</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input
              [(ngModel)]="newTitle"
              name="newTitle"
              type="email"
              class="form-control"
              id="newTitle"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <div class="form-floating">
              <textarea
                [(ngModel)]="newMessage"
                name="newMessage"
                class="form-control"
                placeholder="Leave a comment here"
                id="newMessage"
              ></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-secondary mx-1"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Close
            </button>
            <button
              (click)="addPost()"
              *ngIf="!editStatus"
              [disabled]="!newTitle || !newMessage"
              type="button"
              class="btn btn-success"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Post
            </button>
            <button
              (click)="saveEdit()"
              *ngIf="editStatus"
              [disabled]="!newTitle || !newMessage"
              class="btn btn-success mx-1"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Edit Post
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Sing Up -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Sing Up</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >User Name:</label
            >
            <input
              [(ngModel)]="userName"
              type="text"
              class="form-control"
              id="userName"
              name="userName"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email:</label>
            <input
              name="userEmail"
              type="email"
              class="form-control"
              id="userEmail"
              aria-describedby="emailHelp"
              [(ngModel)]="userEmail"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password:</label
            >
            <input
              name="userPassword"
              type="password"
              class="form-control"
              id="userPassword"
              [(ngModel)]="userPassword"
            />
          </div>

          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-secondary mx-1"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Close
            </button>
            <button
              (click)="addUser()"
              [disabled]="!userName || !userEmail || !userPassword"
              type="button"
              class="btn btn-success mx-1"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
